aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
bidict==0.21.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
idna==3.2
multidict==5.1.0
python-engineio==4.2.1
python-socketio
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket-client==1.2.1
yarl==1.6.3
flask-socketio
Flask==2.0.2
Flask-Cors==3.0.10
simple-websocket
eventlet~=0.33.1
python-decouple==3.5